name: Java CI

on: [push]

jobs:
  buildJar:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 16
      uses: actions/setup-java@v1
      with:
        java-version: 16

    - name: Set up PATH
      run: echo "${ANDROID_HOME}/build-tools/30.0.1" >> $GITHUB_PATH

    - name: General information
      run: |
        java --version
        d8 --version

    - name: Build and dexify mod jar file
      run: |
        chmod +x gradlew
        ./gradlew main:deploy main:dex tools:proc

    - name: Upload built mod jar file
      uses: actions/upload-artifact@v2.2.1
      with:
        name: ProjectUnity (zipped)
        path: main/build/libs/ProjectUnity.jar
